<mat-card class="synopsis-dialog">
  <mat-card-title class="synopsis-dialog-title">
    {{ data.Title }}
  </mat-card-title>
  <br />
  <mat-dialog-content class="synopsis-dialog-content">
    <b>Description: </b>{{ data.Description }}
  </mat-dialog-content>
  <mat-card-actions class="synopsis-actions">
    <button
      class="synopsis-close-button"
      mat-stroked-button
      aria-label="Close the synopsis button"
      mat-dialog-close
      color="primary"
    >
      X
    </button>
  </mat-card-actions>
</mat-card>
