$backgroundColor: aliceblue;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.update-profile-dialog {
  background-color: $cardColor;
  margin-top: 0;
  box-shadow: none;
}

.update-profile-dialog-title {
  color: $textColor;
}

.update-profile-dialog-content {
  color: $textColor;
}

::ng-deep .update-profile-custom>mat-dialog-container {
  background-color: $cardColor;
}

.update-profile-actions {
  display: flex;
}